@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Euphoria+Script&display=swap');

/* font-family: "Comic Neue", cursive; */
:root {
    --mainbg-color: #3d5a80;
    --ff-main: "Euphoria Script", cursive;
    --ff-submain: "Comic Neue", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: antiquewhite;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
}

/* header */

.header h1 {
    padding: 40px;
    font-size: 5rem;
    font-family: var(--ff-main);
    text-align: center;
    
}

/* main */

.etch-container {
    border-style: groove;
    border-width: 120px;
    border-color: var(--mainbg-color);
    height: 680px;
    width: 980px;
}

.white-img-button {
    display: flex;
    justify-content: space-between;
}

.etch-img-btn {
    height: 120px;
}

.grid-container {
    background-color: white;
    height: 440px;
    width: 100%;
}

.control-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: var(--ff-submain);
}

.control-field button {
    color: black;
    border: 2px solid var(--mainbg-color);
    background: transparent;
    padding: 18px 36px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 var(--mainbg-color);
    transition: ease-out 0.4s;
}

.control-field button:hover {
    color: #fff;
    box-shadow: inset 400px 0 0 0 var(--mainbg-color);
  }

.color-picker-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: none;
    cursor: pointer;
}

.color-picker::-webkit-color-swatch {
    border-radius: 50%;
    border: 4px solid #fff;
}

.color-picker::-moz-color-swatch {
    border-radius: 50%;
    border: 4px solid #fff
  }



